@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: hsl(0, 0%, 100%);
    --accent-color: hsl(259, 63%, 59%);

    --text-primary: hsl(221, 43%, 11%);
    --text-secondary: hsl(221, 13%, 46%);

    --button-bg: hsl(259, 63%, 59%);
    --button-text: hsla(0, 0%, 100%, 0.95);

    --ion-icon-color: hsla(0, 0%, 100%, 0.95);

    --link-hover: hsla(0, 0%, 80%, 0.1);

    --divider-line: hsl(0, 0%, 80%);

    --card-bg: hsl(210, 24%, 98%);

    --border-color: hsla(0, 0%, 80%, 0.5);

    --danger-color: hsla(354, 70%, 54%, 0.85);
    --success-color: hsla(134, 61%, 41%, 0.85);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--background-color);
    color: var(--text-primary);
}

button,
input,
select,
option,
textarea {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 80.35rem;
    margin: 0 auto;
}


/* contact page */
.contact-outer-container {
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.contact-outer-container h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-primary);
    transition: color 0.2s;
}

.contact-outer-container p {
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-secondary);
    transition: color 0.2s;
    line-height: 1.7rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.contact-form .alert{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--danger-color);
}

textarea {
    display: block;
    width: 100%;
    padding: 0.625rem;
    font-size: 0.85rem;
    color: var(--text-primary);
    background-color: #f9fafb;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    resize: none;
}

label {
    display: block;
    margin-bottom: 0.45rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--text-primary);
}

input {
    background-color: #f9fafb;
    border: 2px solid var(--border-color);
    color: var(--text-primary);
    font-size: 0.85rem;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    transition: 300ms;
}

input[type="file"] {
    padding: 0;
}

input[type="file"]:focus {
    border: 2px solid var(--border-color);
}

#file-upload::file-selector-button {
    font-family: "Roboto", sans-serif;
    border: none;
    background: var(--border-color);
    padding: 0.625rem;
    cursor: pointer;
}

.file-input-para {
    color: var(--text-secondary);
    font-size: 0.75rem;
    font-weight: 600 !important;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-btns{
    display: flex;
}

button {
    color: var(--button-text);
    background: var(--button-bg);
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

button[type="submit"]{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

button[type="reset"] {
    margin-left: 0.6rem;
    background: var(--danger-color);
}

.check{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.6rem;
}

.check label{
    margin-bottom: 0;
}

/* error page */
.error-outer-container,
.success-outer-container {
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.error-inner-container,
.success-inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    text-align: center;
}

.error-title,
.success-title {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    letter-spacing: -0.02em;
    font-weight: 800;
    color: var(--danger-color);
}

.error-subtitle {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: var(--text-primary);
}

.error-message,
.success-message {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-secondary);
}

.error-link,
.success-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: var(--danger-color);
    padding: 0.8rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
}

/* success page */
.success-title{
    color: var(--success-color);
}

.success-link{
    background-color: var(--success-color);
}

/* Loader container */
.loader {
    width: 15px;
    height: 15px;
    border: 2px solid var(--background-color);
    border-top: 2px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}